.root {
  appearance: none;
  display: inline-block;
  border: 2px solid transparent;
  /* border-radius: 1.25rem; */
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.root:not(:disabled) {
  cursor: pointer;
  background-color: #333;
  color: #f5f5f5;
}

.root:hover:not(:disabled) {
  background-color: #f5f5f5;
  color: #333;
}
