.root {
  appearance: none;
  display: inline-block;
  border: 2px solid transparent;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.root:not(:disabled) {
  cursor: pointer;
  background-color: var(--btn-bg);
  color: var(--btn-text);
}

.root:hover:not(:disabled) {
  background-color: var(--btn-bg-hover);
  color: var(--btn-text);
}
