.root {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--text);
  color: var(--bg);
  box-shadow: 0 0.25rem 0.75rem 0.25rem rgb(0 0 0 / 25%);
}

.root a {
  display: inline-block;
  color: inherit;
  background-color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  transition: background-color 0.2s ease-in-out;
}

.root a:hover {
  background-color: rgb(255 255 255 / 10%);
}

.title {
  text-transform: uppercase;
}
