.root {
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  z-index: 9999;
  padding: 0.5rem;

  transition: transform 0.3s ease;
  transform: translateY(calc(100% + 1.25rem));
}

.show {
  transform: translateY(0);
}
